obj/**
release/**
*.cache
*.o
*.old
Makefile
config.status
configure
defines.h
defines.h.in
defines.h.in~
funcs.h
help.c
less
less.man
less.nro
lessecho
lessecho.man
lessecho.nro
lesskey
lesskey.man
lesskey.nro
stamp-h
upload
.vimrc
